:root{
    --deep-purple: #150e1f;
    --yellow: #E6DB74;
    --white: #FFFFFF;
    --black: #000000;
    --light-blue: lightblue;
    --light-purple: #9A99FF;
    --grey: #A9A9A9;
}

html{
    scroll-behavior: smooth;
}

body{
    display: flex;
    background-color: var(--deep-purple);
    font-family: 'Pixelify Sans';
    letter-spacing: 0.5px;
    color: var(--white);
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    cursor: none;
}

a{
    cursor: none;
}


.mouse {
    position: absolute;
    background: white;
    width: 8px;
    height: 8px;
    border-radius: 100%;
    z-index: 10;
    transition: 0.5s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform,
        0.2s cubic-bezier(0.75, -1.27, 0.3, 2.33) opacity;
    user-select: none;
    pointer-events: none;
    transform: scale(0.8);
}

.mouse::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    background-image: url("./assets/View.png");
    box-shadow: #fff 2px 0px 15px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 100%;
    opacity: 0;
}

.mouse.active {
    opacity: 1;
    transform: scale(12);
}

.mouse.active::before {
    opacity: 1;
}

.cursor-follower {
    position: absolute;
    background: rgba(255, 255, 255, 0.1);
    width: 40px;
    height: 40px;
    border-radius: 100%;
    z-index: 1;
    transition: 0.6s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform,
        0.4s cubic-bezier(0.75, -1.27, 0.3, 2.33) opacity;
    user-select: none;
    pointer-events: none;
    transform: translate(4px, 4px);
}

.cursor-follower.active {
    opacity: 0.3;
    transform: scale(0);
}

.sidebar{
    font-family: monospace;
    font-size: 18px;
    width: 2rem;
    height: 100%;
    text-align: right;
    padding-right: 0.5rem;
    padding-left: 2px;
    position: fixed;
    overflow: hidden;
    border-right: 1px solid var(--light-purple);
    color: var(--grey);
    opacity: 0.5;
    line-height: 1.7rem;
    box-shadow: #9c7ec7 1px 0px 15px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
    margin-left: 4rem;
}

.logo{
    float: left;
}

nav{
    float: right;
}

nav ul {    
    display: flex;
    list-style-type: none;
    float: right;
    align-items: center;
}

nav ul li {
    padding-left: 15px;
    margin-right: 20px;
    float: right;
    font-size: 18px;
}

nav ul li a {
    color: var(--yellow);
    text-decoration: none;
}

nav ul li a:hover {
    color: var(--light-purple);
}

nav ul li a:focus {
    color: var(--light-blue);
}

.full_body{
    display: inline;
    justify-content: center;
    align-items: center;
}

.intro{
    padding-top: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.intro .introanim{
  text-align: center;
  font-size: 65px;
  padding: 0;
  line-height: 0.8em !important;
  text-transform: none;
  font-weight: 600;
  color: var(--white);
  overflow: hidden;
  display: ruby;
}

.introanim a{
    color: var(--light-purple);
    text-decoration: none;
    pointer-events: none;
}

span.txt-rotate {
    font-weight: normal;
  }

span.cursor {
    display: inline-block;
    background-color: #ffffff;
    margin-left: 0.1rem;
    width: 3px;
    animation: blink 1s infinite;
  }

span.cursor.typing {
animation: none;
}
@keyframes blink {
0%  { background-color: #ffffff; }
49% { background-color: #ffffff; }
50% { background-color: transparent; }
99% { background-color: transparent; }
100%  { background-color: #ccc; }
}

.scrolldownbtn{
    margin-top: 20px;
    transform: rotate(90deg);
    font-size: 3rem;
    background: transparent;
    cursor: pointer;
    border: none;
    color: var(--white);
    font-family: 'Pixelify Sans';
    animation: scroll 1s infinite;
}

@keyframes scroll {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(20px);
    }
}

.scrollingimage{
    background-image: url(./assets/scrolling_intro_img.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    height: 50vh;
    display: flex;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.about{
    justify-content: center;
    text-align: center;
    padding-left: 2rem;
    margin-bottom: 5rem;
}

.cont-parent{
    display: flex;
    padding: 20px;
    margin-top:1rem;
    font-size: 25px;
}

.cont-child{
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-left: 45px;
    padding-right: 45px;
    padding-bottom: 20px;
}

.cont-parent .child1{
    border-top: 1px solid rgba(128, 128, 128, 0.5);
    border-right: 1px solid rgba(128, 128, 128, 0.5);
    float: left;
    width: 50%;
    text-align: left !important;
}

.cont-parent .child2{
    border-top: 1px solid rgba(128, 128, 128, 0.5);
    border-left: 1px solid rgba(128, 128, 128, 0.5);
    float: right;
    width: 50%;
}

.portfolio{
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-left: 2rem;
    margin-bottom: 5rem;
}

.portfolio .porto-parent{
    align-items: center;
    justify-content: center;
    font-size: 25px;
}

.porto-parent p{
    font-size: 15px;
}

.porto-parent .porto-child{
    justify-content: center;
    align-items: center;
    padding: 20px;
    display: inline-block;
}

.porto-parent .porto-child img:hover{
    box-shadow: #000000be 1px 0px 15px;
}

.porto-parent .child1{
    border-top: 5px solid var(--light-blue);
    border-right: 5px solid var(--light-blue);
    width: 50%;
    display: inline-block;
    text-align: center !important;
}

.porto-parent .child1:hover{
    background-color: #3b001c;
    color: var(--yellow);
}

.porto-parent .child4:hover{
    background-color: var(--light-purple);
    color: var(--deep-purple);
}

.porto-parent .child3:hover{
    background-color: var(--white);
    color: var(--black);
}

.porto-parent .child3:hover .checkbtn, .porto-parent .child4:hover a, .porto-parent .child1:hover a, .porto-parent .child2:hover a{
    color: #804fc6 !important;
}

.porto-parent .child1:hover a{
    color: white;
}

.porto-parent .child2{
    border-top: 5px solid var(--light-purple);
    border-left: 5px solid var(--light-purple);
    width: 50%;
    display: inline-block;
}


.mybox1 { 
    display: none; 
} 
  
#mybuttonid { 
    padding: 10px; 
    font-family: 'Pixelify Sans'; 
    font-weight: 580;
    font-size: 18px;
    color: var(--deep-purple); 
    border: none; 
    border-radius: 30px; 
    background-color: var(--yellow); 
    margin-top: 20px; 
    cursor: pointer;
} 

#mybuttonid:hover { 
    background-color: var(--light-purple); 
    color: var(--white); 
    box-shadow: var(--light-purple) 1px 0px 15px;
}


.mytabs {
    display: flex;
    flex-wrap: wrap;
    width: 75%;
    height: fit-content;
    margin: auto;
    padding: 25px;
    color: #000000;
    text-align: center;
}
.mytabs input[type="radio"] {
    display: none;
}
.mytabs label {
    padding: 25px;
    background: var(--light-purple);
    font-weight: bold;
}

.mytabs .tab {
    width: 100%;
    padding: 20px;
    background: url(./assets/bg.png)  no-repeat;
    background-size: cover;
    color: palevioletred;
    order: 1;
    display: none;
}
.mytabs .tab h2 {
    font-size: 3em;
}

.mytabs input[type='radio']:checked + label + .tab {
    display: block;
}

.mytabs input[type="radio"]:checked + label {
    background: transparent;
    color: palevioletred;
}

.mytabs img{
    width: 50rem;
}

.resume{
    justify-content: center;
    text-align: center;
    padding-left: 2rem;
    margin-bottom: 5rem;
}


.resumebtn { 
    padding: 15px; 
    font-family: 'Pixelify Sans'; 
    font-weight: 600;
    font-size: 18px;
    color: var(--light-purple); 
    border: none; 
    border-radius: 30px; 
    background-color: var(--light-blue); 
    margin-top: 20px; 
    cursor: pointer;
} 

.resumebtn:hover { 
    background-color: var(--light-purple); 
    color: var(--white); 
    box-shadow: var(--light-purple) 1px 0px 15px;
}


.contact{
    justify-content: center;
    text-align: center;
    padding-left: 2rem;
    margin-bottom: 5rem;
}


.contactbtn { 
    padding: 15px; 
    font-family: 'Pixelify Sans'; 
    font-weight: 600;
    font-size: 18px;
    color: var(--light-purple); 
    border: none; 
    border-radius: 30px; 
    background-color: var(--light-blue); 
    margin-top: 20px; 
    cursor: pointer;
} 

.contactbtn:hover { 
    background-color: var(--light-purple); 
    color: var(--white); 
    box-shadow: var(--light-purple) 1px 0px 15px;
}

/*Form Formatting*/
form > * {
    display: block;
    width: 70%;
    margin: 10px auto;
    text-align: left;
    font-size: 20px;
}

/*Text input field formatting*/
input, textarea {
    padding: 10px;
    margin-top: 5px;
    border-bottom: 1px solid var(--white);
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    border-radius: 4px;
    background: transparent;
    color: var(--light-blue);
    font-family: 'pixelify sans';
}


/*Form button*/
.contact button {
    font-family: 'pixelify sans';
    width: 20%;
    font-weight: 500;
    color: var(--black);
    background-color: var(--light-blue);
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 50px;
    margin-bottom: 7rem;
    text-align: center;
}

/*Form Button when Hovered Formatting*/
.contact button:hover {
    background: linear-gradient(45deg, var(--light-purple), var(--yellow));
}


.navbar .icon{
    display: none;
}

@media (max-width: 1024px) {
    /* header {
        flex-direction: column;
        align-items: flex-start;
    }

    .intro h1, .typewrite {
        font-size: 1.5em;
    }

    .about img, .portfolio img {
        width: 50%;
        height: auto;
    }

    .portfolio .porto-child, .resume .porto-child, .contact .porto-child {
        display: flex;
        flex-direction: column;
        align-items: center;
    } */

    .resume img{
        width: 100%;
    }
    
    .portfolio .porto-parent img{
        width: 100%;
    }


}

@media screen and (max-width: 768px) {
    .navbar .navlink {
        font-size: 12px;
    } 

    logo{
        font-size: 10px;
    }

    logo .name{
        font-size: 10px !important;
    }


    .full_body {
        margin-right: 0; /* Remove left margin */
        overflow-x: hidden;
    }

    body{
        overflow-x: hidden;
    }

    .mouse, .cursor-follower{
        display: none;
    }

    .sidebar{
        font-size: 12px;
        letter-spacing: 0px;
        padding-right: 0.5rem;
        padding-left: 0px;
        margin-left: 0;
    }

    .scrollingimage{
        content: url(./assets/scrolling_intro_img.png);
    }

    h1{
        font-size: 20px !important;
    }

    .introanim{
        display: inline-flex;
    }

    .typewrite{
        font-size: 20px !important;
    }

    span.cursor{
        width: 1px;
    }

    .portfolio{
        align-content: center;
    }

    .portfolio .breaker{
        font-size: 18px !important;
    }

    .resume p{
        font-size: 15px !important;
    }

    footer{
        font-size: 10px;
    }
}

@media screen and (max-width: 600px) {
    nav ul {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar a {
        display: none;
    }
    
    .navbar a.icon {
        align-items: right;
        float: right;
        display: flex;
        font-size: 25px;
        font-weight: 600;
    }

    .navbar img{
        display: none;
    }

    .navbar.responsive {position:relative;}
    .navbar.responsive .icon {
        right: 0;
        top: 0;
    }

    .navbar.responsive a {
        float: right;
        display: grid;
        grid-template-columns: 200px 1fr;
        margin-right: 3px;
        padding-right: 0;
        text-align: right;
    }

    .navbar .icon{
        display: flex;
    }

    .logo{
        width: 100%;
    }

    .logo h2{
        font-size: 1em !important;
    }


    .scrollingimage{
        content: url(./assets/scrolling_intro_img.png);
        height: 40vh;
    }

    .gotopbtn{
        bottom: 50px !important;
        right: 20px !important ;
    }

    .gotopbtn img{
        width: 70px !important;
        height: 65px !important;
    }

}

/*


@media (max-width: 576px) {
    header {
        padding: 10px;
    }

    .logo h2 {
        font-size: 1.2em;
    }

    nav ul {
        gap: 5px;
    }

    .intro {
        padding: 20px 0;
    }

    .intro h1, .typewrite {
        font-size: 1em;
    }

    .about img, .portfolio img {
        width: 100%;
        height: auto;
    }

    .about, .portfolio, .resume, .contact {
        padding: 20px 10px;
    }

    .portfolio .porto-child, .resume .porto-child, .contact .porto-child {
        align-items: flex-start;
    }
} */


.gotopbtn
{
  position: fixed;
  width: 50px;
  height: 50px;
  bottom: 100px;
  right: 100px;
  text-decoration: none;
  text-align: center;
  line-height: 60px;
  color: white;
  font-size: 32px;
  animation: scroll 2s infinite;
  border-radius: 50%;
  scroll-behavior: smooth;
}

