:root{
    --deep-purple: #150E1F;
    --yellow: #E6DB74;
    --white: #FFFFFF;
    --black: #000000;
    --light-blue: lightblue;
    --light-purple: #9A99FF;
    --grey: #A9A9A9;
}

html{
    scroll-behavior: smooth;
}

body{
    display: flex;
    background-color: var(--deep-purple);
    font-family: 'Pixelify Sans';
    letter-spacing: 0.5px;
    color: var(--white);
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.sidebar{
    font-family: monospace;
    font-size: 18px;
    width: 2rem;
    height: 100%;
    text-align: right;
    padding-right: 0.5rem;
    padding-left: 2px;
    position: fixed;
    overflow: hidden;
    border-right: 1px solid var(--light-purple);
    color: var(--grey);
    opacity: 0.5;
    line-height: 1.7rem;
    box-shadow: #9c7ec7 1px 0px 15px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
    width: 89vw;
    margin-left: 4rem;
}

.logo{
    float: left;
}

nav{
    float: right;
}

nav ul {    
    display: flex;
    list-style-type: none;
    float: right;
    align-items: center;
}

nav ul li {
    padding-left: 15px;
    margin-right: 20px;
    float: right;
    font-size: 18px;
}

nav ul li a {
    color: var(--yellow);
    text-decoration: none;
}

nav ul li a:hover {
    color: var(--light-purple);
}

nav ul li a:focus {
    color: var(--light-blue);
}

.full_body{
    display: inline;
    justify-content: center;
    align-items: center;
}

.intro{
    padding-top: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.intro .introanim{
  text-align: center;
  font-size: 65px;
  padding: 0;
  line-height: 0.8em !important;
  text-transform: none;
  font-weight: 600;
  color: var(--white);
  overflow: hidden;
  display: ruby;
}

.introanim a{
    color: var(--light-purple);
    text-decoration: none;
    pointer-events: none;
}

span.txt-rotate {
    font-weight: normal;
  }

span.cursor {
    display: inline-block;
    background-color: #ffffff;
    margin-left: 0.1rem;
    width: 3px;
    animation: blink 1s infinite;
  }

span.cursor.typing {
animation: none;
}
@keyframes blink {
0%  { background-color: #ffffff; }
49% { background-color: #ffffff; }
50% { background-color: transparent; }
99% { background-color: transparent; }
100%  { background-color: #ccc; }
}

.scrolldownbtn{
    margin-top: 20px;
    transform: rotate(90deg);
    font-size: 3rem;
    background: transparent;
    cursor: pointer;
    border: none;
    color: var(--white);
    font-family: 'Pixelify Sans';
    animation: scroll 1s infinite;
}

@keyframes scroll {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(20px);
    }
}

.scrollingimage{
    background-image: url(./assets/scrolling_intro_img.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    height: 50vh;
    display: flex;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.about{
    justify-content: center;
    text-align: center;
    padding-left: 2rem;
    margin-bottom: 5rem;
}

.cont-parent{
    display: flex;
    padding: 20px;
    margin-top:1rem;
    font-size: 25px;
}

.cont-child{
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-left: 45px;
    padding-right: 45px;
    padding-bottom: 20px;
}

.child1{
    border-top: 1px solid rgba(128, 128, 128, 0.5);
    border-right: 1px solid rgba(128, 128, 128, 0.5);
    float: left;
    width: 50%;
    text-align: left !important;
}

.child2{
    border-top: 1px solid rgba(128, 128, 128, 0.5);
    border-left: 1px solid rgba(128, 128, 128, 0.5);
    float: right;
    width: 50%;
}

.portfolio{
    justify-content: center;
    text-align: center;
    padding-left: 2rem;
    margin-bottom: 5rem;
}

.portfolio .porto-parent{
    display: flex;
    font-size: 25px;
}

.porto-parent p{
    font-size: 18px;
}

.portfolio .porto-child{ 
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.porto-parent .child1{
    border-top: 1px solid rgba(128, 128, 128, 0.5);
    border-right: 1px solid rgba(128, 128, 128, 0.5);
    float: left;
    width: 50%;
    text-align: center !important;
}

.porto-parent .child2{
    border-top: 1px solid rgba(128, 128, 128, 0.5);
    border-left: 1px solid rgba(128, 128, 128, 0.5);
    float: right;
    width: 50%;
}